.cards__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  justify-items: center;
  max-width: 1295px;
  margin-bottom: 50px;
}

.card {
  border: 1px solid #D1D2D3;
  max-width: 380px;
}

.card__header {
  padding: 20px;
  border-bottom: 1px solid #d1d2d3
}

.card__header-text {
  font-weight: 600;
  font-size: 1.3em;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 280px;
  background-color: #F2f2f2;
}

@media screen and (min-width: 600px) {
  .cards__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    width: 100%;
  }

  .card__header-text {
    max-width: 200px;
  }
}

@media screen and (min-width: 920px) {
  .cards__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    max-width: 100%;
  }

  .card-1 {
    grid-column: 1/3;
  }

  .card-7 {
    grid-column: 2/4;
  }
}
