@import url('./reset.css');
@import url('./accordion-tabs.css');
@import url('./cards.css');

*, 
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #2F2235;
  padding: 20px 45px;
}

.header__h1, 
.header__p {
  color: white;
}

.header__h1 {
  font-size: 1.8em;
  margin-bottom: 40px;
}

.header__h1--blue {
  color: #34D1D1;
}

.header__p {
  font-size: 1em;
  font-weight: 600;
}

main {
  padding: 45px 25px;
}

.main__header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px;
  width: 100%;
}

.main__header-line {
  display: inline-block;
  border-top: 1px solid #f2f2f2;
  height: 50%;
  padding-left: 10px;
  width: 80%;
  align-self: center;
}

.button-show-code {
  color: white;
  display: block;
  width: 300px;
  margin: 10px auto 30px;
  padding: 10px;
  border: none;
  background-color: #3F3244;
}

.accordion {
  width: 100%;
  margin: 0 0 50px;
  border: 1px solid #D1D2D3;
}

.accordion__tab-link {
  color: #666666;
  font-size: 1.2em;
  display: block;
  margin: auto;
  padding: 15px;
  width: 100%;
  background-color: #F2F2F2;
  border: 1px solid white;
}

.accordion__tab-active {
  background-color: white;
}

.accordion__tab-content-container {
  display: none;
}

.accordion__tab-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.accordion__tab-content-img {
  border: 1px solid #D1D2D3;
  background-color: #F2F2F2;
  width: 100%;
  height: 200px;
}

.accordion__tab-content-text {
  padding: 15px 20px;
}

.accordion__tab-content-heading {
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 1px solid #f2f2f2;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.accordion__tab-content-p {
  line-height: 130%;
  padding-bottom: 15px;
}

@media screen and (min-width: 430px) {
  padding: 45px;
}

@media screen and (min-width: 468px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__h1 {
    margin-bottom: 0;
  }

  .header__p {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 600px) {
  .accordion {
    display: inline-flex;
  }
  .accordion__tab {
    display: inline;
    width: 25%;
    min-height: 520px;
  }

  .accordion__tab-link {
    width: 100%;
    text-align: center;
  }

  .accordion__tab-content-container {
    position: absolute;
    left: 0;
    margin: 0 45px;
  }
}

@media screen and (min-width: 700px) {
  .accordion__tab {
    min-height: 480px;
  }

  .accordion__tab-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
  }

  .accordion__tab-content-img {
    height: 350px;
    min-width: 300px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 800px) {
  .accordion__tab {
    min-height: 451px;
  }
}

@media screen and (min-width: 1100px) {
  .accordion {
    max-width: 1011px;
  }

  .accordion__tab-content-text {
    max-width: 630px;
  }

  .accordion__tab-content-img {
    max-width: 300px;
  }
}

