@import url('./reset.css');
@import url('./accordion-tabs.css');
@import url('./cards.css');
@import url('./dropdown-menu.css');

*, 
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #2F2235;
  padding: 20px 45px;
}

.header__h1, 
.header__p {
  color: white;
}

.header__h1 {
  font-size: 1.8em;
  margin-bottom: 40px;
}

.header__h1--blue {
  color: #34D1D1;
}

.header__p {
  font-size: 1em;
  font-weight: 600;
}

main {
  padding: 45px 25px;
}

.main__header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px;
  width: 100%;
}

.main__header-line {
  display: inline-block;
  border-top: 1px solid #f2f2f2;
  height: 50%;
  padding-left: 10px;
  width: 80%;
  align-self: center;
}

.button-show-code {
  color: white;
  display: block;
  width: 300px;
  margin: 10px auto 30px;
  padding: 10px;
  border: none;
  background-color: #3F3244;
  text-align: center;
}


